<%- include('../partials/header.html') %>

<link rel="stylesheet" href="/public/css/menu.css">

<!-- Hero Start -->
<div class="container-fluid pt-5 bg-primary hero-header">
    <div class="container pt-5"></div>
</div>
<!-- Hero End -->

<div class="container mt-5">
    <h2 class="text-center mb-5">Choose Your Game Type</h2>
    <div class="row justify-content-center">
        <!-- Dev Games Card -->
        <div class="col-md-4">
            <div class="card">
                <img src="/public/img/icons/DevIcon.png" class="card-img-top game-icon" alt="Dev Games">
                <div class="card-body">
                    <h5 class="card-title">Dev Games</h5>
                    <p class="card-text">Play games that help you evolve in programming.</p>
                    <a href="/minigames/menu/programming" class="btn btn-primary">Choose Dev Games</a>
                </div>
            </div>
        </div>

        <!-- Party Games Card -->
        <div class="col-md-4">
            <div class="card">
                <img src="/public/img/icons/PartyGamesIcon.png" class="card-img-top game-icon" alt="Party Games">
                <div class="card-body">
                    <h5 class="card-title">Party Games</h5>
                    <p class="card-text">Enjoy fun and interactive games for your mind.</p>
                    <a href="/minigames/menu/party" class="btn btn-primary">Choose Party Games</a>
                </div>
            </div>
        </div>

        <!-- Daily Games Card 
        <div class="col-md-4">
            <div class="card">
                <img src="/public/img/icons/DailyGames.png" class="card-img-top game-icon" alt="Daily Games">
                <div class="card-body">
                    <h5 class="card-title">Daily Games</h5>
                    <p class="card-text">Just one per day. Good Luck!</p>
                    <a href="/minigames/menu/daily" class="btn btn-primary">Choose Daily Games</a>
                </div>
            </div>
        </div>
        -->
    </div>
</div>

<%- include('../partials/footer.html') %>
