<%- include('../partials/header.html') %>

<div class="container content">
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="mb-0">Your Wishlist</h5>
    </div>
  </div>
  <div class="card">
    <div class="card-body p-0 overflow-hidden">
        <div class="row g-0">
            <% 
                function formatValue(number) {
                    if (number >= 1000000) {
                        return (number / 1000000).toFixed(1) + ' M';
                    } else if (number >= 1000) {
                        return (number / 1000).toFixed(1) + ' K';
                    }
                    return number.toString();
                }
            %>
            <% projects.forEach(function(project) { %>
                <div class="row my-2">
                <div class="col-sm-5 col-md-4 d-flex align-items-center">
                    <div class="position-relative h-sm-100 overflow-hidden" style="height: 150px !important;">
                    <a class="d-block h-100 d-flex align-items-center" href="/project/<%= project._id %>">
                        <% if (project.ImagesOfPlace && project.ImagesOfPlace.length > 0) { %>
                        <% if (Array.isArray(project.ImagesOfPlace)){ %>
                            <img class="img-fluid object-fit-cover w-sm-100 rounded-1 absolute-sm-centered" src="/<%= project.ImagesOfPlace[0] %>" alt="<%= project['project-name'] %>"/>
                        <% } else { %>
                            <img class="img-fluid object-fit-cover w-sm-100 rounded-1 absolute-sm-centered" src="/<%= project.ImagesOfPlace %>" alt="Default Image"/>
                        <% } %>
                        <% } else { %>
                        <img class="img-fluid rounded-top" src="/public/assets/img/projects/ImageNotAvaliable.png" alt="Default Image"/>
                        <% } %>
                    </a>
                    <div class="badge rounded-pill bg-success position-absolute top-0 end-0 me-2 mt-2 fs-11 z-2">New</div>
                    </div>
                </div>
                <div class="col-sm-7 col-md-8">
                    <div class="row">
                    <div class="col-lg-8">
                        <h5 class="mt-3 mt-sm-0"><a class="text-1100 fs-9 fs-lg-8" href="/project/<%= project._id %>"><%= project['project-name'] %></a></h5>
                        <p class="fs-10 mb-2 mb-md-3"><a class="text-500" href="#">
                        <%= project['project-tag'].join(' & ') %>
                        </a></p>
                        <ul class="list-unstyled d-none d-lg-block">
                        <li>
                            <span class="fas fa-circle" data-fa-transform="shrink-12"></span>
                            <span style="font-size: 0.85em;"> Required Funding: 
                            $<%= formatValue(project['project-totalbudget'] * project['project-fundingpercentage'] / 100) %> <%= project['project-budgetcurrency'].toUpperCase() %>
                            </span>
                        </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 d-flex justify-content-between flex-column">
                        <div>
                        <h4 class="fs-8 fs-md-7 text-warning mb-0">$<%= formatValue(project['project-totalbudget'])  %></h4>
                        <!--
                        <div class="mb-2 mt-3"><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-300"></span><span class="ms-1">(8)</span></div>
                        -->
                        </div>
                        <div class="mt-2">
                            <form method="POST" action="/toggle-wishlist" style="width: 100%;">
                                <input type="hidden" name="projectId" value="<%= project._id %>">
                                <button class="btn btn-sm btn-outline-danger border border-300" type="submit" data-bs-toggle="tooltip" data-bs-placement="top" title="Add to Wish List"  style="width: 100%;">
                                    <% if (user) { %>
                                        <span class="<%= project.wishlist && project.wishlist.includes(user._id.toString()) ? 'fas' : 'far' %> fa-heart me-1"></span>
                                      <% } else { %>
                                        <span class="far fa-heart me-1"></span>
                                      <% } %>
                                    <span class="ms-2 d-none d-md-inline-block">Favourite</span>
                                </button>
                            </form>     
                                
                            <a class="btn btn-sm btn-primary d-lg-block mt-lg-2" href="#">
                                <span class="fas fa-hand-holding-usd"></span>
                                <span class="ms-2 d-none d-md-inline-block">Invest Now</span>
                            </a>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            <% }); %>
        </div>
    </div>
  </div>
</div>

<%- include('../partials/footer.html') %>
