<%- include('../partials/header.html') %>

<script src="/public/js/home.js"></script>

<main>
    <div class="main-section">
        <div class="container">
            <div class="main-section-data">
                <div class="row">
                    <div class="col-lg-3 col-md-4 pd-left-none no-pd">
                        <div class="main-left-sidebar no-margin">
                            <div class="user-data full-width">
                                <div class="user-profile">
                                    <div class="username-dt">
                                        <div class="usr-pic">
                                            <img src="<%= user.Image %>" alt="Profile Picture">
                                        </div>
                                    </div>
                                    <div class="user-specs">
                                        <h3><%= user.Name %></h3>
                                        <span><%= user.WorkArea %></span>
                                    </div>
                                </div>
                                <ul class="user-fw-status">
                                    <li>
                                        <h4>Following</h4>
                                        <span><%= user.Followers.length %></span>
                                    </li>
                                    <li>
                                        <h4>Followers</h4>
                                        <span><%= user.Following.length %></span>
                                    </li>
                                    <li>
                                        <a href="/profile">View Profile</a>
                                    </li>
                                </ul>
                            </div><!--user-data end-->

                            <div class="suggestions full-width">
                                <div class="sd-title">
                                    <h3>Suggestions</h3>
                                    <i class="la la-ellipsis-v"></i>
                                </div>
                                <div class="suggestions-list">
                                    <div class="suggestion-usd">
                                        <img src="/public/images/resources/s1.png" alt="User Picture">
                                        <div class="sgt-text">
                                            <h4>USERNAME</h4>
                                            <span>WORK AREA</span>
                                        </div>
                                        <span><i class="la la-plus"></i></span>
                                    </div>
                                    <div class="suggestion-usd">
                                        <img src="/public/images/resources/s1.png" alt="User Picture">
                                        <div class="sgt-text">
                                            <h4>USERNAME</h4>
                                            <span>WORK AREA</span>
                                        </div>
                                        <span><i class="la la-plus"></i></span>
                                    </div>
                                    <div class="suggestion-usd">
                                        <img src="/public/images/resources/s1.png" alt="User Picture">
                                        <div class="sgt-text">
                                            <h4>USERNAME</h4>
                                            <span>WORK AREA</span>
                                        </div>
                                        <span><i class="la la-plus"></i></span>
                                    </div>
                                    <div class="view-more">
                                        <a href="/suggestions">View More</a>
                                    </div>
                                </div>
                            </div><!--suggestions end-->
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-8 no-pd">
                        <div class="main-ws-sec">
                            <div class="post-topbar">
                                <div class="user-picy">
                                    <img src="<%= user.Image %>" alt="">
                                </div>
                                <form method="post">
                                    <div class="post-st">
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <button type="button" class="btn btn-secondary btn-publish">
                                                    Publish
                                                </button>
                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#postQuestionModal">
                                                    Make a Question
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="post-project-fields post-topbar-border" id="postForm" style="padding: 0">
                                        <hr>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="postbody-title" id="postbody-title" placeholder="Title of Post (Min 4 words)">
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control" name="postbody-content" id="postbody-content" rows="4" style="resize: none;"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="postbody-tags" id="postbody-tags" placeholder="Add 2 or more relevant tags separated by commas (e.g., HTML, CSS).">
                                        </div>
                                    </div>  
                                </form>
                                
                                <div class="modal fade" id="postQuestionModal" tabindex="-1" role="dialog" aria-labelledby="postQuestionModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header" style="background-color: var(--primary); color: white;">
                                                <h5 class="modal-title" id="postQuestionModalLabel">Post a Question</h5>
                                            </div>
                                            <div class="modal-body pt-4">
                                                <form>
                                                <div class="row">
                                                    <div class="col-md-12 mb-3">
                                                        <div class="form-group">
                                                            <label for="title">Title</label>
                                                            <small class="form-text text-muted d-block mb-2">Enter a concise and informative title for your question.</small>
                                                            <input type="text" class="form-control" id="title">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 mb-3">
                                                        <div class="form-group">
                                                            <label for="body">Body</label>
                                                            <small class="form-text text-muted d-block mb-2">Provide a detailed description of your question.</small>
                                                            <textarea class="form-control" id="editor" rows="4" style="resize: none;"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 mb-1">
                                                        <div class="form-group">
                                                            <label for="tags">Tags</label>
                                                            <small class="form-text text-muted d-block mb-2">Add relevant tags separated by commas (e.g., HTML, CSS).</small>
                                                            <input type="text" class="form-control" id="tags">
                                                        </div>
                                                    </div>
                                                </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" id="postQuestionBtn">Post Question</button>
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>        
                        
                        <% posts.forEach(function(post) { %>
                            <div class="post-bar">
                                <div class="post_topbar">
                                    <div class="usy-dt">
                                        <img src="<%= post.authorIMG || "/public/images/resources/us-pic.png" %> " alt="UserPic" style="width: 50px; height: 50px">
                                        <div class="usy-name">
                                            <h3><%= post.author %></h3>
                                            <span><img src="/public/images/clock.png" alt=""><%= new Date(post.createdAt).toLocaleString() %></span>
                                        </div>
                                    </div>
                                    <div class="ed-opts ml-2">
                                        <a href="#" class="ed-opts-open"><i class="la la-ellipsis-v"></i></a>
                                        <ul class="ed-options">
                                            <li><a href="#">Edit</a></li>
                                            <li><a href="#" style="color: red;">Delete</a></li>
                                        </ul>
                                    </div>
                                    <!--
                                    <ul class="bk-links">
                                        <li><a href="#"><i class="la la-bookmark"></i></a></li>
                                        <li><a href="#"><i class="la la-envelope"></i></a></li>
                                    </ul>
                                    -->
                                </div>
                                <div class="post_descp mt-4">
                                    <h3><%= post.title %></h3>
                                    <p class="mb-3"><%= post.content %></p>
                                    <ul class="skill-tags">
                                        <% post.tags.forEach(function(tag) { %>
                                            <li><a href="#"><%= tag %></a></li>
                                        <% }); %>
                                    </ul>
                                </div>
                                <div class="job-status-bar">
                                    <ul class="like-com">
                                        <li>
                                            <a href="#"><i class="fas fa-heart"></i> <%= post.likes.length %> Likes</a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fas fa-comment-alt"></i> Comment <%= post.comments.length %></a>
                                        </li>
                                    </ul>
                                    <a href="#"><i class="fas fa-eye"></i>Views <%= post.views %></a>
                                </div>
                            </div>
                        <% }); %>                        
                    </div>
                    <div class="col-lg-3 pd-right-none no-pd">
                        <div class="right-sidebar">
                            <div class="widget widget-jobs">
                                <div class="sd-title">
                                    <h3>Top Jobs</h3>
                                    <i class="la la-ellipsis-v"></i>
                                </div>
                                <div class="jobs-list">
                                    <div class="job-info">
                                        <div class="job-details">
                                            <h3>Senior Product Designer</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                                        </div>
                                        <div class="hr-rate">
                                            <span>$25/hr</span>
                                        </div>
                                    </div>
                                    <div class="job-info">
                                        <div class="job-details">
                                            <h3>Senior UI / UX Designer</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                                        </div>
                                        <div class="hr-rate">
                                            <span>$25/hr</span>
                                        </div>
                                    </div>
                                    <div class="job-info">
                                        <div class="job-details">
                                            <h3>Junior Seo Designer</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                                        </div>
                                        <div class="hr-rate">
                                            <span>$25/hr</span>
                                        </div>
                                    </div>
                                    <div class="job-info">
                                        <div class="job-details">
                                            <h3>Senior PHP Designer</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                                        </div>
                                        <div class="hr-rate">
                                            <span>$25/hr</span>
                                        </div>
                                    </div>
                                    <div class="job-info">
                                        <div class="job-details">
                                            <h3>Senior Developer Designer</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                                        </div>
                                        <div class="hr-rate">
                                            <span>$25/hr</span>
                                        </div>
                                    </div>
                                </div>
                            </div><!--widget-jobs end-->

                            <div class="widget widget-jobs">
                                <div class="sd-title">
                                    <h3>Most Viewed This Week</h3>
                                    <i class="la la-ellipsis-v"></i>
                                </div>
                                <div class="jobs-list">
                                    <div class="job-info">
                                        <div class="job-details">
                                            <h3>Senior Product Designer</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                                        </div>
                                        <div class="hr-rate">
                                            <span>$25/hr</span>
                                        </div>
                                    </div>
                                    <div class="job-info">
                                        <div class="job-details">
                                            <h3>Senior UI / UX Designer</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                                        </div>
                                        <div class="hr-rate">
                                            <span>$25/hr</span>
                                        </div>
                                    </div>
                                    <div class="job-info">
                                        <div class="job-details">
                                            <h3>Junior Seo Designer</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                                        </div>
                                        <div class="hr-rate">
                                            <span>$25/hr</span>
                                        </div>
                                    </div>
                                </div>
                            </div><!--widget-jobs end-->
                            
                            <div class="widget suggestions full-width">
                                <div class="sd-title">
                                    <h3>Most Viewed People</h3>
                                    <i class="la la-ellipsis-v"></i>
                                </div>
                                <div class="suggestions-list">
                                    <div class="suggestion-usd">
                                        <img src="/public/images/resources/s1.png" alt="">
                                        <div class="sgt-text">
                                            <h4>Jessica William</h4>
                                            <span>Graphic Designer</span>
                                        </div>
                                        <span><i class="la la-plus"></i></span>
                                    </div>
                                    <div class="suggestion-usd">
                                        <img src="/public/images/resources/s2.png" alt="">
                                        <div class="sgt-text">
                                            <h4>John Doe</h4>
                                            <span>PHP Developer</span>
                                        </div>
                                        <span><i class="la la-plus"></i></span>
                                    </div>
                                    <div class="suggestion-usd">
                                        <img src="/public/images/resources/s3.png" alt="">
                                        <div class="sgt-text">
                                            <h4>Poonam</h4>
                                            <span>Wordpress Developer</span>
                                        </div>
                                        <span><i class="la la-plus"></i></span>
                                    </div>
                                    <div class="suggestion-usd">
                                        <img src="/public/images/resources/s4.png" alt="">
                                        <div class="sgt-text">
                                            <h4>Bill Gates</h4>
                                            <span>C &amp; C++ Developer</span>
                                        </div>
                                        <span><i class="la la-plus"></i></span>
                                    </div>
                                    <div class="suggestion-usd">
                                        <img src="/public/images/resources/s5.png" alt="">
                                        <div class="sgt-text">
                                            <h4>Jessica William</h4>
                                            <span>Graphic Designer</span>
                                        </div>
                                        <span><i class="la la-plus"></i></span>
                                    </div>
                                    <div class="suggestion-usd">
                                        <img src="/public/images/resources/s6.png" alt="">
                                        <div class="sgt-text">
                                            <h4>John Doe</h4>
                                            <span>PHP Developer</span>
                                        </div>
                                        <span><i class="la la-plus"></i></span>
                                    </div>
                                    <div class="view-more">
                                        <a href="#">View More</a>
                                    </div>
                                </div>
                            </div> <!--suggestions-list end-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include('../partials/footer.html') %>