<%- include('../partials/header.html') %>
<main class="main" id="top">
  <div class="container" data-layout="container">
    <script>
      var isFluid = JSON.parse(localStorage.getItem('isFluid'));
      if (isFluid) {
        var container = document.querySelector('[data-layout]');
        container.classList.remove('container');
        container.classList.add('container-fluid');
      }
    </script>
    <div class="row flex-center min-vh-100">
      <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
        <div class="card">
          <div class="card-body p-4 p-sm-5">
            <% if (error != "") { %>
              <div class="alert alert-danger" role="alert">
                <%= error %>
              </div>
            <% } %>
            <div class="row flex-between-center mb-2">
              <div class="col-auto">
                <h2>Log in</h2>
              </div>
              <div class="col-auto fs-10 text-600"><span class="mb-0 undefined">or</span> <span><a href="/Register">Create an account</a></span></div>
            </div>
            <form action="/loginUser" method="post">
              <div class="mb-3">
                <input class="form-control" type="email" name="email" placeholder="Email address" required />
              </div>
              <div class="mb-3">
                <input class="form-control" type="password" name="password" placeholder="Password" required />
              </div>
              <div class="row flex-between-center my-3">
                <div class="col-auto">
                  <div class="form-check mb-0">
                    <input class="form-check-input" type="checkbox" id="basic-checkbox" name="remember" checked />
                    <label class="form-check-label mb-0" for="basic-checkbox">Remember me</label>
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">Log in</button>
              </div>
              <div class="mb-3 text-center">
                <a href="/" class="text-decoration-none">Back to Home</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<%- include('../partials/footer.html') %>
